* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
}
/*Contenido del banner*/


/*Contenido del Navegador responsive*/
header {
    background:#0a141d;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 20px;
}

header .logo {
    max-width: 30%;
}


header nav ul {
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: white;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: black;
        padding: 30px;
        transition: 0.3s;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 5px 0;
    }
}


/*Contenido del Formulario*/
.presentacion {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-bottom: 30px;
    ;
}

.boton-saber-mas {
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    color: white;
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo izquierda/derecha) */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 20px;
    border-radius: 4px;
    /* Bordes redondeados */
}

.contenedor-formulario {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 95%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambio de cursor a mano */
    outline: none;
    /* Quita el contorno al hacer clic */
    position: relative;
    /* Posición relativa para el icono */
    overflow: hidden;
    /* Oculta el desbordamiento del icono */
    transition: background-color 300ms;
    /* Transición de color de fondo */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}