* {
    top: 0;
    left: 0;
    margin: 0;
}

/*Contenido de maquetacion del deshboard*/
nav {
    background-color: black;
    height: 60px;
    width: 100%;
}

.contenedor {
    width: 100%;
    display: flex;
}

.aside {
    width: 240px;
    height: auto;
    background-image:
        linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-tablas {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    height: 851px;
    
    background-color: white;
}

.contenido-tablas {
    padding: 30px;
}

/*Encabesado deshboard*/
.logo {
    width: 145px;

}

.container-nav {
    margin-left: 20px;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: white;
}
.icono{
    margin-right:8px ;
    color:white;
}
h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    background-color:black;
    color:white;
    border-radius: 4px;
    padding: 10px;
    margin-right: 50px;
    width: 550px;
}

h3 {
    color:white;
    opacity: 0.5;
    margin-top: 38px;
    font-size: 16px;
    width: 100px;
    font-family: "Gabarito", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
li{
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    height: 40px;
    width: 100%;
    border-bottom: solid 1px white;

}

a{
    font-family: "Gabarito", sans-serif;
    text-align: center;
    display:inline-block;
    color:white;
    text-decoration: none;
}

/*---------------------------------------------------*/
.content-form-update{
    margin-top: 50px;
    height: 350px;
    width: 100%;

}
TD{
    padding: 5px;
}
th{
    width: 380px;
    padding: 5px;
    font-family: "DM Sans", sans-serif;
}
table{
    border-collapse: collapse;
}
.form-update{
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: wrap;
}
form{
    width: 100%;
}
.label-uptade{
    font-weight: bold;
    padding: 18px;
    padding: auto;
}
.entrada-uptade{
    height: 22px;
}
.username{
    margin-top: 10px;
    margin-right: 35px;
}
label{
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
.entrada-uptade{
    height: 100%;
    border: none;
    width: 100%;
}
.icono{
    margin-left: 8px;
    color: black;
}
form{
    margin-top: 30px;
}
.btn{
    margin-left: 10px;
    transition: all 300ms;
    margin-top: 15px;
    cursor: pointer;
    padding: 8px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color:black;
    width: 180px;
    height: 40px;
    border: solid 1px black;
    border-radius: 3px;
}
/*---------------------------------------------------*/
/* CONTENIDO TABLA */

